
<section class="jumbo">
  <div class="jumbotron">
    <div class="container-fluid">
      <h1>Products</h1>
    </div>
  </div>

  <hr>


</section>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-6 col-xs-12">
      <div class="prodImg">
      <a href="#"><h3><%= product.name %></h3></a>
      <%= image_tag(product.image_url, class: "img-responsive") %>
      </div>
      <div class="prodInfo">
        <p><%= product.description %></p>
        <p>Colour: <%= product.colour %></p>
        <strong>$ <%= product.price %></strong>
      </div>
      <p><%= link_to 'Show', product %>
      <p><%= link_to 'Edit', edit_product_path(product) %>
      <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div><!-- /col -->
  <% end %>
  </div>
</div>

<br>

<%= link_to 'New Product', new_product_path %>
