<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ScratchPatch</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Denk+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>


  <body data-spy="scroll" data-target=".navbar">
    <header>
      <nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <h2 id="landover"><%= link_to "ScratchPatch", root_url %></h2>

          </div> <!--end navbar-header -->
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li id="homeover"><%= link_to "Home", simple_pages_index_url %></li>
              <li id="prodover"><%= link_to "Products", products_url %></li>
              <li id="orderover"><%= link_to "Orders", orders_url %></li>
              <li id="aboutover"><%= link_to "About", simple_pages_about_url %></li>
              <li id="conover"><%= link_to "Contact", simple_pages_contact_url %></li>
            </ul>
          </div>
        </div><!--end nav container-->
      </nav> <!-- end navbar-->
    </header>



    <%= flash[:notice] %>



    <section class="page">
      <%= yield %>
    </section>

    <footer>
      <div class="container-fluid">
        <div class='row' id='foot'>
          <div class="row">
            <div class="col-sm-6">
              <p class="copyR">&copy David Merced 2018</p>
            </div>
            <div class="col-sm-6">
              <ul class="navbar-nav"  id="searchbar">
                <li><%= form_with(url: products_path, method: 'get', local: true) do |form| %>
                  <%= form.text_field :q, id: 'q', value: params[:q], class: "form-control" %></li>
                <li><%= form.submit 'Search', class: "btn btn-default" %>
                <% end %></li>
                <li id="log" class="btn btn-default">
                  <% if user_signed_in? %>
                    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                  <% else %>
                    <%= link_to('Login', new_user_session_path) %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
